<p>Name: <%= @order.pretty_name %> </p>
<p>Quantity: <%= @order.quantity %> </p>
<p>Topping: <%= @order.topping %> </p>


<form method="get" action="/pizza-orders/<%= @order.id %>/edit" >
  <input type="submit" value="Edit Order"/>
</form>

<form method="post" action="/pizza-orders/<%= @order.id %>/delete" >
  <input type="submit" value="Delete Order"/>
</form>
