<p><strong>Name:</strong> <%= @order.pretty_name %></p>
<p><strong>Quantity:</strong> <%= @order.quantity %></p>
<p><strong>Topping:</strong> <%= @order.topping %></p>

<form method="get" action="/pizza-orders/<%= @order.id %>/edit">
<input type="submit" value="Edit Order"/>
</form>

<form method="post" action="/pizza-orders/<%= @order.id %>/delete">
<input type="submit" value="Delete Order"/>
</form>
